include LICENSE.txt
include requirements.txt
include README.rst
include CONTRIBUTING.rst
include anchore/conf/*
include anchore/doc/man/*
include anchore/schemas/*
recursive-include anchore/anchore-modules *

